<!-- views/humeur.ejs -->
<!doctype html>
<html>
<head>
    <title>Mon humeur</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
 
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

   <form action="/humeur" method ="post" >
  <div>

<%for (var i = 0;i < list.humeurs.length;i++){%>
    <input type="radio" name="mood" value="<%= list.humeurs[i].humeur %>"><%= list.humeurs[i].humeur %>
    
    <% }%>


     <input type="hidden" name="lat" id="lat" value="">
     <input type="hidden" name="long" id="long" value="">
     <input type="hidden" name="city" id="city" value="">
    
  </div>
  <div>
    <button type="submit" href="/humeur";>Emmetre mon humeur</button>
  </div>
</form>
<a href="/profile" class="btn btn-default">Mon Profil</a></br>
<% if(moods.length >0 ) {%>
<table id="table">
    <tr><td>Date</td><td>Emotion</td></tr>
    <% for (var i = 0;i < moods.length ;i++) {
        var date = new Date(moods[moods.length-1-i].date);%>
        <tr><td><%=date%></td><td><%=moods[moods.length-1-i].emotion%></td></tr>
    <%}%>
  </table>
<%}else{%>
    Vous n avez exprimé aucune émotion.
   <%}%> 
</div>

</div>

</body>


<script>

var options = {
 enableHighAccuracy: true,
 timeout: 5000,
 maximumAge: 0
};

function success(pos) {
 var crd = pos.coords;
 console.log('Votre position actuelle est :');
 console.log(`Latitude : ${crd.latitude}`);
 console.log(`Longitude: ${crd.longitude}`);
 document.getElementById('lat').value = crd.latitude;
 document.getElementById('long').value = crd.longitude;

 var s = document.createElement('script');       
 s.src = 'http://nominatim.openstreetmap.org/reverse?json_callback=cb&format=json&lat='+ crd.latitude + '&lon=' + crd.longitude + '&zoom=18&addressdetails=1';
 document.getElementsByTagName('head')[0].appendChild(s);

};

window.cb = function cb(json) {
    document.getElementById('city').value = json.address.city;
};

function error(err) {
 console.warn(`ERROR(${err.code}): ${err.message}`);
};

navigator.geolocation.getCurrentPosition(success, error, options)


</script>


</html>
