<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>

    <!-- Boostrap dépend de Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
    <a href="/lemonde" class="btn btn-default">Le Monde</a>
</div>
<div id="listHumeurs" style="display: none">
    <%= humeurs %>
</div>


<div id="map" style="width: 100%; height: 500px"></div>

        <script
           src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
        </script>
        
        <script
           src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
        </script>
        <script
        src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
        </script>
        <script src="http://d3js.org/d3.v4.min.js"></script>
             
        <script>
            var humeursStr = document.getElementById("listHumeurs").innerHTML;
            var humeurs = JSON.parse(humeursStr)

            var map = L.map('map').setView([43.61,3.88], 12);
                mapLink = 
                    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
                L.tileLayer(
                    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; ' + mapLink + ' Contributors',
                    maxZoom: 18,
                }).addTo(map);
            
            
                    var i;
                     for (i=0; i<humeurs.length; i++) 
                     {
                        //console.log(i)
                        //console.log(humeurs[i].emotion + " " + humeurs[i].long + " " + humeurs[i].lat)
                        long = humeurs[i].long || 0
                        lat = humeurs[i].lat || 0
                        humeur = humeurs[i].emotion
                       // long = long + 10*i
                       // lat = lat + 10*i
                        // console.log(humeur + " lat : " + lat + " long :" + long)
                        var marker = L.marker([lat, long]).addTo(map)
                        marker.bindPopup(humeur).openPopup()
                        // this last part doesn't work
                        /*var heat = L.heatLayer([lat, long],{
                            radius: 20,
                            blur: 15, 
                            maxZoom: 17,
                            }).addTo(map);*/
                     } 
        </script>

</body>
</html>t 